body {
    font-family: Arial, sans-serif;
    margin: 0px;
    padding: 0px;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
  }
  
/* Estilos del header */
header {
    background-color: rgb(12,40,64); 
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  
  .logo {
    display: flex;
    align-items: center;
    width: 10%;
  }
  
  .logo a {
    margin: 0px;
    margin-right: 0px;
  }

  .logo-icon {
    width: 40px;
    height: 40px;
    margin-left: 50%;
  }
  
  .nav-bar {
    width: 75%;
    margin-left: 0px;
    padding: 0px;
  }

  nav ul {
    display: flex;
    align-items: center;
  }
  
  nav li {
    margin-left: 20px;
    list-style-type: none;
  }

  nav li:hover {
    filter: brightness(0.5)
  }
  
  nav a {
    font-size: 18px;
  }
  

  .cart {
    width: 15%;
    margin-right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
  }

  .login-button {
    font-size: 18px;
    color: white;
    border: 0px;
 
  }

  .login-button:hover {
    filter: brightness(0.5)
  }

  .cart-logo {
    width: 20px;
    height: 20px;
  }

  .cart-logo:hover {
    filter: brightness(0.5)
  }
  
  /* Estilos del jumbotron */
  #jumbotron {
    background-image: url('../Assets/img/Gym2.jpg');
    background-size: cover;
    background-position: center;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .jumbotron-content {
    text-align: center;
    color: #fff;
  }
  
  .jumbotron-content h2 {
    font-size: 48px;
    margin-top: 0;
  }
  
  .jumbotron-content p {
    font-size: 24px;
    margin-bottom: 30px;
  }
  
  form label {
    display: block;
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  form input[type=email] {
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    margin-bottom: 10px;
  }
  
  form button[type=submit] {
    padding: 10px 20px;
    background-color: #fff;
    color: #333;
    border: none;
    font-size: 18px;
    border-radius: 5px;
  }
  
  /* Estilos del catálogo de productos */
  #catalogue {
    padding: 50px;
    background-color: #f2f2f2;
  }
  
  #catalogue h3 {
    font-size: 36px;
    text-align: center;
    margin-bottom: 50px;
  }
  
  #catalogue ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  #catalogue li {
    margin: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.1);
    min-width: 250px;
    text-align: center;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  /* Estilos del blog */
  #blog {
    padding: 50px;
    background-color: #fff;
  }
  
  #blog h3 {
    font-size: 36px;
    text-align: center;
    margin-bottom: 50px;
  }
  
  #blog ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  #blog li {
    margin: 20px;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 5px; }

    footer {
      font-family: Arial, Helvetica, sans-serif;
      background-color: #333;
      color: #fff;
      padding: 20px 0;
    }
    
    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 960px;
      margin: 0 auto;
    }
    
    .left {
      text-align: right;
    }
    
    .right {
      text-align: right;
    }
    
    .social {
      list-style: none;
      padding: 0;
      margin: 0;
      display: inline-flex;
    }
    
    .social li {
      margin-right: 10px;
    }

    .social li img {
      margin: 5px;
      width: 30px;
      height: 30px;
    }

    .social li img:hover{
      filter: brightness(0.5);
    }
    
    .social li:last-child {
      margin-right: 0;
      
    }